@model Ecom.Shared.ViewModels.ProductDetailVm
@{
}
<!-- Start All Title Box -->
<div class="all-title-box">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<br>
				<h2>Product Detail</h2>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Shop</a></li>
					<li class="breadcrumb-item active">Shop Detail </li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- End All Title Box -->
<!-- Start Shop Detail  -->
<div class="shop-detail-box-main">
	<div class="container">
		<div class="row">
			<div class="col-xl-5 col-lg-5 col-md-6">
				<div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
					<div class="carousel-inner" role="listbox">
						<div class="carousel-item active"> <img class="d-block w-100" src="@Model.Image" alt="First slide"> </div>
					</div>
				</div>
			</div>
			<div class="col-xl-7 col-lg-7 col-md-6">
				<div class="single-product-details">
					<h2>@Model.ProductName @Model.CategoryName</h2>
					<h5>@Model.Price $</h5>
					<p class="available-stock"><span> More than 20 available / <a href="#">8 sold </a></span>
					<p>
						<h4>Description:</h4>
					<p>
						@Model.ProductDescription
					</p>
					<ul>
						<li>
							<div class="form-group size-st">
								<label class="size-label">Size</label>
								<select id="basic" class="selectpicker show-tick form-control">
									<option value="0">Size</option>
									<option value="0">S</option>
									<option value="1">M</option>
									<option value="1">L</option>
									<option value="1">XL</option>
									<option value="1">XXL</option>
									<option value="1">3XL</option>
									<option value="1">4XL</option>
								</select>
							</div>
						</li>
						<li>
							<div class="form-group quantity-box">
								<label class="control-label">Quantity</label>
								<input class="form-control" value="0" min="0" max="20" type="number">
							</div>
						</li>
					</ul>

					<div class="price-box-bar">
						<div class="cart-and-bay-btn">
							<a class="btn hvr-hover" data-fancybox-close="" href="#">Add to cart</a>
							@*<a class="btn hvr-hover" data-fancybox-close="" href="#">Add to cart</a>*@
						</div>
					</div>

					<div class="add-to-btn">
						@*<div class="add-comp">
				<a class="btn hvr-hover" href="#"><i class="fas fa-heart"></i> Add to wishlist</a>
				<a class="btn hvr-hover" href="#"><i class="fas fa-sync-alt"></i> Add to Compare</a>
			</div>*@
						<div class="share-bar">
							<a class="btn hvr-hover" href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
							<a class="btn hvr-hover" href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a>
							<a class="btn hvr-hover" href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
							<a class="btn hvr-hover" href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a>
							<a class="btn hvr-hover" href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Cart -->
<div class="row">
	<div class="col-lg-12">
		<div class="container">
			<h1>What do you think about product?</h1>
			<div class="container">
				<div class="post">
					<div class="text">Thanks for rating us!</div>
					<div class="edit">EDIT</div>
				</div>
				<div class="star-widget">
					<input type="radio" name="rate" id="rate-5">
					<label for="rate-5" class="fas fa-star"></label>
					<input type="radio" name="rate" id="rate-4">
					<label for="rate-4" class="fas fa-star"></label>
					<input type="radio" name="rate" id="rate-3">
					<label for="rate-3" class="fas fa-star"></label>
					<input type="radio" name="rate" id="rate-2">
					<label for="rate-2" class="fas fa-star"></label>
					<input type="radio" name="rate" id="rate-1">
					<label for="rate-1" class="fas fa-star"></label>
					<form action="#">
						<header></header>
						<div class="textarea">
							<textarea cols="30" placeholder="Describe your experience.."></textarea>
						</div>
						<div class="btn">
							<button type="submit">Post</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
      const btn = document.querySelector("button");
      const post = document.querySelector(".post");
      const widget = document.querySelector(".star-widget");
      const editBtn = document.querySelector(".edit");
      btn.onclick = ()=>{
        widget.style.display = "none";
        post.style.display = "block";
        editBtn.onclick = ()=>{
          widget.style.display = "block";
          post.style.display = "none";
        }
        return false;
      }
</script>
