@model Ecom.Shared.ViewModels.ProductDetailVm
@{
}
<!-- Start All Title Box -->
<div class="all-title-box">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<br>
				<h2>Product Detail</h2>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Shop</a></li>
					<li class="breadcrumb-item active">Shop Detail </li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- End All Title Box -->
<!-- Start Shop Detail  -->
<div class="shop-detail-box-main">
	<div class="container">
		<div class="row">
			<div class="col-xl-5 col-lg-5 col-md-6">
				<div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
					<div class="carousel-inner" role="listbox">
						<div class="carousel-item active"> <img class="d-block w-100" src="@Model.Image" alt="First slide"> </div>
					</div>
				</div>
			</div>
			<div class="col-xl-7 col-lg-7 col-md-6">
				<div class="single-product-details">
					<h2>@Model.ProductName @Model.CategoryName</h2>
					<h5>@Model.Price $</h5>
					<div class="rate">
						<input type="radio" id="star5" name="rate" value="5" />
						<label for="star5" title="text">5 stars</label>
						<input type="radio" id="star4" name="rate" value="4" />
						<label for="star4" title="text">4 stars</label>
						<input type="radio" id="star3" name="rate" value="3" />
						<label for="star3" title="text">3 stars</label>
						<input type="radio" id="star2" name="rate" value="2" />
						<label for="star2" title="text">2 stars</label>
						<input type="radio" id="star1" name="rate" value="1" />
						<label for="star1" title="text">1 star</label>
					</div>
					<br />

					<p>
						<h4>Description:</h4>
					<p>
						@Model.ProductDescription
					</p>

					
						@*<li>
							<div class="form-group size-st">
								<label class="size-label">Size</label>
								<select id="basic" class="selectpicker show-tick form-control">
									<option value="0">Size</option>
									<option value="0">S</option>
									<option value="1">M</option>
									<option value="1">L</option>
									<option value="1">XL</option>
									<option value="1">XXL</option>
									<option value="1">3XL</option>
									<option value="1">4XL</option>
								</select>
							</div>
						</li>*@
						<li>
							<div class="form-group quantity-box">
								<label class="control-label">Quantity</label>
								<input class="form-control" value="0" min="0" max="20" type="number">
							</div>
						</li>
					

					<div class="price-box-bar">
						<div class="cart-and-bay-btn">
							<a class="btn hvr-hover" data-fancybox-close="" href="#">Add to cart</a>
						</div>
					</div>

					@*<div class="add-to-btn">
			<div class="share-bar">
				<a class="btn hvr-hover" href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
				<a class="btn hvr-hover" href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a>
				<a class="btn hvr-hover" href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
				<a class="btn hvr-hover" href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a>
				<a class="btn hvr-hover" href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a>
			</div>
		</div>*@
					<hr size="5px" align="center" color="red" />
					<h1>Feedback</h1>
					<div class="row pt-3">
						<div class="col-md-12">
							<a class="btn btn-danger" onclick="showReview()" href="#reviews-anchor" id="open-review-box">Write a Review</a>
						</div>
						<br><br>
						<div class="row" id="post-review-box" style="display:none; margin-left: 2px;">
							<div class="col-md-12">
								<form accept-charset="UTF-8">
									<input id="ratings-hidden" name="rating" type="hidden">
									<input class="form-control animated" name="userName" placeholder="Enter your name..."></input>
									<br>
									<textarea class="form-control animated" cols="50" id="new-review" name="comment" placeholder="Enter your review here..." rows="5"></textarea>
									<br>
									<div class="rate">
										<input type="radio" id="star5" name="rate" value="5" />
										<label for="star5" title="text">5 stars</label>
										<input type="radio" id="star4" name="rate" value="4" />
										<label for="star4" title="text">4 stars</label>
										<input type="radio" id="star3" name="rate" value="3" />
										<label for="star3" title="text">3 stars</label>
										<input type="radio" id="star2" name="rate" value="2" />
										<label for="star2" title="text">2 stars</label>
										<input type="radio" id="star1" name="rate" value="1" />
										<label for="star1" title="text">1 star</label>
									</div>
									<div class="text-right">
										<div class="stars starrr" data-rating="0"></div>
										<a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="display:none; margin-right: 10px;"></a>
										<button class="btn btn-success btn-lg" type="submit" onclick="offReview()">Save</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<hr size="2px" align="center" color="red" />
							<div class="review-block">
								<div class="row">
									<div class="col-sm-3">
										<div class="review-block-name"><a href="#"><strong> Kevin </strong></a></div>
										<div class="review-block-date">January 29, 2016</div>
									</div>
									<div class="col-sm-9">
										<div class="rate">
											<input type="radio" id="star5" name="rate" value="5" />
											<label for="star5" title="text">5 stars</label>
											<input type="radio" id="star4" name="rate" value="4" />
											<label for="star4" title="text">4 stars</label>
											<input type="radio" id="star3" name="rate" value="3" />
											<label for="star3" title="text">3 stars</label>
											<input type="radio" id="star2" name="rate" value="2" />
											<label for="star2" title="text">2 stars</label>
											<input type="radio" id="star1" name="rate" value="1" />
											<label for="star1" title="text">1 star</label>
										</div>
										<br>
										<br>
										<div class="review-block-description"> That's very good. asd  asd asd asd asd asdj addadad asd asdasd asd da dsa asd asd asd asd asdasd asda asdasd asdasd sdf sds sd sd  sdsdsd asd asd asdasd asds </div>
									</div>
								</div>
								<hr size="5px" align="center" color="red" />
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>
<!-- End Cart -->
<script>
	function showReview() {
		const review = document.getElementById("post-review-box")
		review.style.display = "block"
	}
	function offReview() {
		const review = document.getElementById("post-review-box")
		review.style.display = "none"
	}

</script>


